@use 'styles/style' as *;

.button {
  cursor: pointer;
}

.primary {
  background-color: $color-primary;
  border-radius: 10px;
  color: $color-black;
  font-size: 22px;
  line-height: 26px;
  padding: 10px 33px;
  border: none;
  font-weight: $fw-regular;

  @include mobile {
    font-size: 18px;
    padding: 8px 30px;
    line-height: 21px;
  }
}

.secondary {
  border-radius: 10px;
  background-color: $color-white;
  padding: 12px 19px;
  font-weight: $fw-regular;
  border: none;
  font-size: 32px;
  line-height: 40px;
  color: $color-primary;

  @include mobile {
    font-size: 25px;
    padding: 12px 21px;
  }
}