@use 'styles/style' as *;

.form {
  width: 100%;
  max-width: 439px;
  min-height: 590px;
  border-radius: 10px;
  background-color: $color-white;
  box-shadow: 5px 5px 5px 1px $color-black-025;
  padding: 37px 39px;

  @media (max-width:$mobile-width) {
    max-width: 325px;
  }
}