@use "styles/style" as *;

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}

.Body_Cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @include mobile {
    display: block;
    min-width: 100%;
  }
}

.cardWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  flex-direction: row;

  @include mobile {
    display: block;
    padding-top: 30px;

    &:first-child {
      padding-top: 0;
    }

    &::after {
      content: '';
      display: block;
      border-bottom: 1px solid $color-border-grey;
    }
  }
}

.Card_Level_Languages {
  display: flex;
  gap: 50px;
  align-items: flex-end;
  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    flex-direction: row;
  }
}

.Text_Content {
  & p {
    padding-bottom: 18px;
  }
}

.Icon_Container {
  .Icon_Plus {
    width: 21px;
    height: 21px;
    margin-bottom: 10px;
    cursor: pointer;

    @include mobile {
      width: 20px;
      height: 20px;
    }
  }
}